{% extends 'template.html' %}
{% load static %}
{% block title %}
    Bucket Files
{% endblock %}
{% block 'stylesheet' %}
{% endblock %}

{% block 'titulo-secao' %}
    Bucket Files

{% endblock %}
{% block 'card' %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="float-sm-right">
                    <form method="post" class="form-inline"
                          enctype='multipart/form-data'>
                        {% csrf_token %}
                        <input type="hidden" id="bucket" name="bucket" value="{{ bucket_name }}">
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="file" class="form-control-file" id="file" name="file" multiple required>
                        </div>
                        <button type="#" class="btn btn-info mb-2">Upload files</button>
                    </form>
                </div>
                <br>
                <div class='col-sm-12 table-responsive-sm'>
                    <table id="table-buckets" class="table table-bordered table-hover "
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last Modified</th>
                            <th>Size</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#"> {{ files.Key }}</a></td>
                            <td>{{ files.LastModified }}</td>
                            <td>{{ files.Size }}</td>
                            <td>
                                <button class="btn bg-success btn-sm"
                                        onclick="get_file(`{{ files.Key }}`, 'mediasfiles')"
                                        title="Imagem Original"><i class="fas fa-download"></i></button>
                                <button class="btn bg-purple btn-sm"
                                        onclick="get_file(`{{ files.Key }}`, 'mediasfilesresized')"
                                        title="Imagem redimensionada "><i class="fas fa-download"></i></button>
                                <button class="btn bg-info btn-sm"
                                        onclick="get_file_details(`{{ files.Key }}`)"
                                        title="Rekognition"><i class="fas fa-info-circle"></i></button>

                                <a class="btn bg-danger btn-sm" title="Remover"
                                   href="{% url 'bucket:delete_file' bucket=bucket_name file=files.Key %}"><i
                                        class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalImg" tabindex="-1" role="dialog" aria-labelledby="modalImg" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Resultado da Análise</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <img src="" id="img">
                        </div>
                        <div class="col">
                            <div id="addResult">

                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block 'scripts' %}
    <script>
        function get_file(key, bucket) {

            $.ajax({
                url: '{% url 'bucket:download_file' %}',
                type: 'get',
                data: {
                    'file': key,
                    'bucket': bucket
                },

                success: function (data) {
                    let url = (data['url'])
                    let a = document.createElement('a');
                    a.href = url;
                    a.download = key;
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response)
                }
            });
        }

        function get_file_details(key) {
            let bucket = $("#bucket").val()
            $.ajax({
                url: '{% url 'bucket:rekognition-file' %}',
                type: 'get',
                data: {
                    'file': key
                },

                success: function (data) {
                    img = data['img']+"?timestamp=" + new Date().getTime()
                    result = data['result']

                    input = ''

                    for (x in result)
                        input += `<b><p style="color: ${x}">${result[x]}</p></b> <br>` 

                    $("#img").attr('src', img)



                    $('#addResult').html("");

                    $("#addResult").append(input)

                    $('#modalImg').modal('show');


                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response)
                }
            });
        }

        $(document).ready(function () {
            $('#table-buckets').DataTable({
                    "responsive": true,
                    "autoWidth": false,
                    "searching": false,
                    "ordering": true,
                    "bPaginate": true,
                }
            );
        });
    </script>
{% endblock %}

